footer{
    background-color: rgb(64, 79, 218);
}
header{
    background-color: black;
    margin: 0px;
    padding: 0px;
}
body{
    background-color: rgb(120, 156, 223);
    margin: 0px;
    padding: 0px;
    font-size: medium;
}
ol ul {
    font-size: medium;
    
}
nav ul {
    list-style: none;
    font-size: large;
    display: flex;

}
li{
    padding: 30px;
}
a{
    text-decoration: none;
    color: #f7f6f6;
    font-size: medium;
}
c{
    border-style:solid ;
    border-color:rgb(233, 224, 224) ;
    font-weight: 400;
    border-radius: 30px;
    font-size: larger;

}
container{
    width: 100%;
    height: 100hv;
    display:flex;
    align-items: center;
    justify-content: center;
}
swiper{
    width: 80%;
    height: fit-content;
}
swiper-slide img{
    width: 300px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
greeting{
    font-size: 1.3;
width: 25em;
background-color: pink;
position: absolute;
transform: translate(-50%, -50%);
top: 50%;
left: 50%;
padding: 4.5em 1.3em;
border-radius: 0.4em;
}

